@{
    ViewBag.Title = "GigList";
}

<h2>GigList</h2>

<label>Date of Event:</label>
<input id="eventDate" type="text" /><br />
<label>Name of Performer:</label>
<input id="perfName" type="text" /><br />
<label>Performing Area:</label>

<select id="perfArea">
    <option>Main Stage</option>
    <option>Medium Stage</option>
    <option>Studio</option>
</select>
<br />

<label>Number of Tickets Available:</label>
<input id="numTicket" type="text" />
<br />

<input id="performer_button" type="submit" value="Save" />